%main-images
  {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 28rem;
  }

%frame-images
  {
    background-size: cover;
    background-position: center;
    position: relative;
    height: 18rem;
    float: left;
    width: 100%;
  }

%frame-texts
  {
    width: 100%;
    height: 20%;
    font-size: 1.8rem;
    line-height: 200%;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
  }

%portfolio-images
  {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 15rem;
    cursor: pointer;
  }

%blog-article-images
  {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 19rem;
    margin: 0 auto;
  }

%blog-article-images-min
  {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 3rem;
    height: 3rem;
    float: left;
    margin: 0 1rem 0 1rem;
  }

%blog-popular-photos
  {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 48%;
    height: 10rem;
    float: left;
    margin: 1%;
  }