$first-page-color: #1f476b;
$first-page-color-rgba: rgba(31, 71, 107, .5);

$second-page-color: #ec643a;
$second-page-color-rgba: rgba(236, 100, 58, .5);

$third-page-color: #225d23;
$third-page-color-rgba: rgba(34, 93, 35, .5);

$fourth-page-color: #cb0111;
$fourth-page-color-rgba: rgba(203, 1, 17, .5);

$fifth-page-color: #613855;
$fifth-page-color-rgba: rgba(97, 56, 85, .5);

$gray-color: #666666;